body {
    display: grid;
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
}

.gridlayout {
    grid-template:  ".      head    head    time"
                    ".      result  result  ."
                    ".      nav     nav     ." 
                    "txt    txt    txt      txt" auto / 1fr 1fr 1fr 1fr;                    
}

.gridlayout-fullscreen {
    grid-template:  ".      txt txt txt ."
                    ".      txt txt txt ."
                    ".      txt txt txt ." 
                    ".      txt txt txt ." auto ;    
}

*:focus {
    outline:0px none transparent;
}

#textarea {
    grid-area: txt;
    -moz-appearance: textarea;
    -webkit-appearance: textarea;
    appearance: textarea;    
    
    
    padding-top: 5vh;
    margin: auto;
    resize: both;
    width: 90vw;  
    transition:all .2s ease-out;
    font-size: 3em;
    background: none;    
    outline: none;
} 

/* toggle blur for textarea */
#textarea.active {
    filter: blur(13px);
}

#options {
    grid-area: nav;
}

#header {
    grid-area: head;
}

#results {
    grid-area: result;
}

#timer {
    grid-area: time;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

button {
    background-color: #565469;
    border: none;
    border-radius: 5em;
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.input-inline {
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #ccc !important;
    overflow: visible;
    font: inherit;
    text-align: right;
}

*, ::before, ::after {
    box-sizing: inherit;
}