body {
    display: grid;
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;

    grid-template:  ". head head ."
                    ". nav nav ."
                    "txt txt txt txt";
}

*:focus {
    outline:0px none transparent;
}

#textarea {
    grid-area: txt;
    -moz-appearance: textarea;
    -webkit-appearance: textarea;
    appearance: textarea;    
    overflow: auto;
    
    padding-top: 5vh;
    margin: auto;
    resize: both;
    width: 90vw;  
    transition:all .2s ease-out;
    font-size: 3em;
    background: none;    
} 

/* toggle blur for textarea */
#textarea.active {
    filter: blur(13px);
}

#options {
    grid-area: nav;
}

#header {
    grid-area: head;
}

button {
    background-color: #565469;
    border: none;
    border-radius: 5em;
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.input-inline {
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #ccc !important;
    overflow: visible;
    font: inherit;
    text-align: right;
}

*, ::before, ::after {
    box-sizing: inherit;
}